*.class
*.log
project/
connector/target/
connector/project/target/
connector/project/project/
connector/.DS_Store
connector/.idea
connector/.scannerwork/
functional-tests/lib/
functional-tests/project/build.properties
functional-tests/project/project/
functional-tests/project/target/
functional-tests/target/
functional-tests/.idea/
examples/*/lib/
examples/*/project/build.properties
examples/*/project/project/
examples/*/project/target/
examples/*/target
examples/*/.idea/
examples/*/.bsp
/target/
/.idea/
.DS_Store
