version: "3.9"
services:
  vertica:
    image: "glarik/vertica:10.0.0-RHEL7"
    ports:
      - "5433:5433"
    volumes:
      - ./vertica-hdfs-config/hadoop:/etc/hadoop/conf
    command: cp /etc/hadoop/conf/core-site.xml /opt/hadoop/etc/hadoop/core-site.xml && cp /etc/hadoop/conf/hdfs-site.xml /opt/hadoop/etc/hadoop/hdfs-site.xml
  hdfs:
    image: "mdouchement/hdfs"
    ports:
      - "22022:22"
      - "8020:8020"
      - "50010:50010"
      - "50020:50020"
      - "50070:50070"
      - "50075:50075"
    stdin_open: true
